<html><head></head><body> Thank you for booking a standing appointment at <b>{{CompanyName}}</b>. Here is a list of your appointments: <br><div style="margin-left:2rem">{{listOfAppointments}}</div><p>Have a great day!</p>{{CompanyName}}<br>{{CompanyPrimaryPhone}}<br>{{CompanyEmail}}</body><html>